.main {
  height: 100vh;
  width: 100vw;
}

// :host {
//   display: block;
//   position: relative;
//   width: 100%;
//   height: 100%;
//   z-index: -1; /* コンポーネントを背面に配置 */
// }

// :host ::ng-deep {
:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* コンポーネントを背面に配置 */
}
